apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    jsonData:
      index: "cdc-events-*"
      timeField: "@timestamp"
      esVersion: 80
      interval: "1m"
      timeInterval: "1m"


